body {
    background-color: black;
    margin: 0;
}

.menu {
    background-color: white;
    padding: 20px;
    height: 100px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.search {
    height: 30px;
    width: 150px;
    background-color: rgba(212, 193, 193, 0.775);
}