body {
    background-color: black;
    margin: 0;
}

#logo {
    margin-left: -17px;
}

.menu {
    background-color: white;
    padding: 20px;
    height: 100px;
    position: fixed;
    width: 100%; 
}

.left {
    float: left;
}

.right {
    float: right;
    margin-right: auto;
}

.row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto; 
}

.search {
    height: 30px;
    width: 200px;
    background-color: rgba(243, 220, 220, 0.775);
    border: none;
}

.menu .row .right a {
    color: black; 
    font-weight: bold;
    text-decoration: none;
}

.menu .row .right a:hover {
    text-decoration: underline;
}